/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  margin-right: 10px;
}

input {
  /* margin: 0 10px; */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ensures input is responsive */
  /* max-width: 400px; */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.chart-container {
  margin-top: 40px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-bottom: 20px;
  gap: 10px;
}
.filter-container label {
  width: calc(50% - 20px);
  min-width: 200px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.board {
  max-width: 1000px;
  margin: auto;
}

/* Add this to your CSS file */

.hovered {
  background-color: #f0f0f0;
}

.hovered td {
  background-color: #f0f0f0;
}
